.crypto-currency .logo {
  margin: 0;
}

.back-arrow ion-icon {
  vertical-align: middle;
  color: #d4d3d8;
}

.back-arrow {
  margin-left: 1.5rem;
}

.currency-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2rem;
}
