.desktop {
  display: flex;
  height: 100vh;
  background-color: #1d1c28;
  justify-content: center;
  align-items: center;
}

.phone-image {
  height: 26rem;
  margin-left: -12rem;
  margin-right: -3.5rem;
}
.desktop-text-box {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
