.menu {
  position: relative;
  background-color: #2a283d;
  text-align: center;
  padding-bottom: 6em;
}

.logo {
  margin: 2.8rem 0 1rem 0;
  height: 1.3rem;
}

.active {
  color: gainsboro;
  text-decoration: none;
}

.main-nav {
  display: flex;
  position: absolute;
  bottom: 0px;
  list-style: none;
  width: 100%;
  border-bottom: gainsboro solid 1px;
}

.main-nav li {
  width: 50%;
}

@media only screen and (min-width: 769px) {
  .menu {
    display: none;
  }
}
