.menu {
  background-color: #2a283d;
  text-align: center;
  padding-bottom: 6em;
}

.logo {
  margin: 2.8rem 0 1rem 0;
  height: 1.3rem;
}

.marketValue {
  font-size: 1.5rem;
}

.arrow {
  height: 1.3rem;
}

.percentage-box {
  color: #59bb6e;
}

.percentage-box span {
  margin-left: 0.5rem;
}
