/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #d6d5da;
}

ul {
  list-style: none;
}
